 <footer>
        <div class="footerInformations">
            <h5>Wysyłka w 24h <br />7352 produktów
                dostępnych natychmiast</h5>

        </div>
        <div class="footerProducts">
            <h5>KONTAK <br />Tel: 568 874 521 <br />Email: kontakt@dom-whisky.pl</h5>
        </div>
        <div class="footerSocialMedia">
            <div class="footerSocialMediaItems">
                <a href="https://www.facebook.com/domwhiskyonline/" target="_blank">
                    <img src="/Resources/fb.png">
                </a>
                <a href="https://twitter.com/domwhiskyonline" target="_blank">
                    <img src="/Resources/twitter.png">
                </a>
                <a href="https://www.instagram.com/domwhiskyonline/" target="_blank">
                    <img src="/Resources/isnta.png">
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
