* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
}

/* Full-width input fields */
.container input[type=text],
.container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}


.errorsSpace {
    color: black;
    margin-left: 20px;
}

hr {
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Set a style for all buttons */
main .usunButton {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 8%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.resetbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.resetbtn,
.signupbtn {
    float: left;
    width: 7%;
    margin: 7px;
}

main .userPicture {
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    margin: 10px;
    width: 150px;   
}

main .userDetails {
    display: flex;
    flex-direction: column;
}

main .itemUser{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px;
}

main .userDescribe{
    margin: 15px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .resetbtn,
    .signupbtn {
        width: 100%;
    }
}
